<div class="trump-wrapper">
    <div class="trump-head">
      <%= image_tag "trump_head.png", alt: "alttext", width: "400px" %>
    </div>
  <div class="trump-desktop-container">
    <div class="trump-food">
      <%= image_tag "food.png", alt: "alttext", width: "80px" %>
    </div>
    <div class="trump-food">
      <%= image_tag "food.png", alt: "alttext", width: "80px" %>
    </div>
    <div class="trump-food">
      <%= image_tag "food.png", alt: "alttext", width: "80px" %>
    </div>
    <div class="trump-food">
      <%= image_tag "cherry.png", alt: "alttext", width: "200px" %>
    </div>
  </div>
</div>
